venv/
venv32/
__pycache__/
*.pyc
.env
web_uploads/
*.wav
*.mp3
*.mp4
*.m4a
*.ogg
*.flac
*_transcript.txt
*_summary.txt
*_gemini_raw_response.txt
build/
dist/
*.spec
*.zip
*.PNG
*.png
*.exe
new.py
newtest.py
test.py
summery.py
desktop.py
list_models.py
check_models.py
newweb_app.py
note.txt
startup_log.txt
AjitSir.txt